:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.Video-AMV {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

video {
    margin-top: 20px;
    border-radius: 30px;
    width: 60%;
}

img {
    pointer-events: none;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.parent {
    background-color: bisque;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200) {
    .container {
        width: 1170px;
    }
}

/* COmponants Start  */
.special-heading {
    color: #5f5b5b;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.h2-mod {
    font-size: 70px;
}

.special-heading+p {
    margin: -10px 0 0;
    font-size: 20px;
    text-align: center;
    color: #464444;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin: -10px 0 0;
    }

    .h2-mod {
        font-size: 50px;
    }
}

/* COmponants End  */

/* Header Part Start */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 100px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: slategray;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 1s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}

.header .links ul li a:hover {
    padding-left: 30px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* Header Part Start */

/* Landing Section Start */
.landing {
    background-image: url(../img/hxh.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #ddd;

}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 12%;
    text-align: center;
    transform: translate(-50%, -50%);
    min-width: 320px;
    max-width: 100%;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: #ddd;
}

@media (max-width:767px) {

    .landing .intro-text h1 {
        font-size: 30px;
    }

    .landing .intro-text p {
        font-size: 15px;
    }

}

/* Landing Section End */

/* Features Section Start */
.Features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.Features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.Features .feat {
    padding: 20px;
    text-align: center;
}

.Features .feat i {
    color: lightcoral
}

.Features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.Features .feat p {
    line-height: 1.2;
    color: #777;
    font-size: 17px;
    text-align: justify;
}

/* Landing Section End */

/* Service Section Start */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 777px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: royalblue;
    flex-basis: 60px;
}

.services .services-content .srv .text h3{
    flex: 1;
    text-align: center;
}
.services .services-content .srv .text p{
    flex: 1;
    text-align: justify;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.3;
}

.col .image {
    text-align: center;
    position: relative;
}

.col .image img {
    width: 260px;
}



.col .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    left: 470px;
    z-index: -1;
}
@media (max-width: 777px) {
    .col .image::before {
        display: none;
    }
}

#ging-watching {
    font-size: 30px;
    font-weight: bold;
    color: wheat;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 10px;
}

/* Service Section End */

/* Portfolio Section Start */
.portoflio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
    text-align: center;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: justify;
}

/* Portfolio Section End */


/* About Section Start */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 450px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #aecdeb;
    width: 100px;
    height: calc(100% + 60px);
    top: -30px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 350px;
    border-left: 80px solid rgb(48, 105, 211);
    border-bottom: 80px solid rgb(48, 105, 211);
    z-index: -1;
    top: -30px;
    right: -110px;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
    text-align: center;
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: justify;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: rgb(48, 105, 211);
    ;
}

.about .about-content .text p:last-of-type {
    line-height: 1.2;
    color: #777;
    text-align: justify;
}

@media (max-width: 991px) {

    .about .about-content {
        flex-direction: column;
    }
}

/* About Section End */

/* Contact Section Start */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .container .info .label {
    font-weight: 800;
    font-size: 35px;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .container .info .link {
    display: block;
    text-decoration: none;
    font-weight: 800;
    font-size: 35px;
    color: rgb(48, 105, 211);
    ;
}

.contact .container .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    color: #797979;

}

.contact .container .info .social i {
    margin: 0 15px 0;
    color: var(--secondary-color);
}

@media (max-width: 767px) {

    .contact .container .info .link,
    .contact .container .info .label {
        font-size: 20px;
    }
}

/* Contact Section End */


/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: rgb(48, 105, 211);
    font-style: italic;
}

/* End Footer */
.cust-hr {
    width: 30%;
    height: 2px;
    background-color: #66696b;
    border-radius: 30px;
}
